<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">

        <receiver
            android:name=".DebugControlReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="bond.huggy.sol.DEBUG_CONNECT" />
                <action android:name="bond.huggy.sol.DEBUG_DISCONNECT" />
                <action android:name="bond.huggy.sol.DEBUG_STATUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
