<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="SOL VPN Probe"
        android:usesCleartextTraffic="true">
        <receiver
            android:name=".ProbeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="bond.huggy.sol.probe.RUN" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
